
@{
    ViewData["Title"] = "About";
}

<h1>About the Author</h1>

<p id="about">I am junior software developer just beginning to dabble in the magical arts of programming. Keep your eyes open for much more amazing "baubles" in the future. Thank you for stopping by!</p>

<div id="me_picture">
    <img id="me_picture" src="~/Images/67475226_10219706169428547_1874403532761726976_n.jpg" />
</div>
