@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super Hills' RPG Character Creator</h1>
    <p>Created Your Companion to Join you on Adventures!!</p>
</div>

<img id="character_frames" src="https://www.nonfictiongaming.com/wp-content/uploads/2019/01/5e-fighter-guide.jpg" />