@model CharCreatorVM
@{
    ViewData["Title"] = "Index";
}

<h1> Character Creator</h1>

<form asp-controller="CharacterCreator" asp-action="DDCreator">
    <table>
        <tr>
            <td><label asp-for="GameUniverse">What universe will your character belong to?</label></td>
        </tr>
        <tr>
            <td>
                <select asp-for="GameUniverse">
                    <option>Dungeons and Dragons</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
</form>

